<h1>Heroe <small> nombre..</small> </h1> 
<hr>
<button [routerLink]="['heroes']" class="btn btn-outline-danger">
  Regresar
</button>

<button (click)="agregarNuevo(forma)"
 class=" btn btn-outline-primary">
  Nuevo Registro 
</button>


<div class="row animated fadeIn fast">
  <div class="col-md-12">
    <form (ngSubmit)="guardar()" #forma="ngForm"  >
        <div class="form-goup">
          <label for="">Nombre</label>
          <input [(ngModel)]="heroe.nombre"  type="text" class="form-control" name="nombre"
           placeholder="Nombre heroe">

        </div>
        <div class="form-goup">
            <label for="">Casa</label>
            <select [(ngModel)]="heroe.casa"  class="form-control" name="casa" >
              <option value="DC">DC</option>
              <option value="MARVEL">Marvel</option>
            </select>
        </div>
        <div class="form-goup">
            <label for="">Bio</label>
            <textarea  [(ngModel)]="heroe.bio" class="form-control" name="bio" >

            </textarea>
  
          </div>
          <hr>

          <div class="form-group">
              <button [disabled]="!forma.valid" 
              class="btn btn-outline-primary">
                Guardar cambios
              </button>
          </div>

    </form>

  </div>
</div>
